<div class="campo{% if campo.field.widget.input_type == 'checkbox' %} check{% endif %}{% if campo.errors %} con-error{% endif %}">
  {% if campo.field.widget.input_type == 'checkbox' %}
    <label for="{{ campo.id_for_label }}">{{ campo }} {{ campo.label }}</label>
  {% else %}
    <label for="{{ campo.id_for_label }}">{{ campo.label }}{% if campo.field.required %} *{% endif %}</label>
    {{ campo }}
  {% endif %}
  {% if campo.help_text %}<div class="ayuda">{{ campo.help_text }}</div>{% endif %}
  {{ campo.errors }}
</div>
